.center {
    text-align: center;
}

canvas {
    border: 1px solid black;
}

.navigator {
    background-color: #353535;
    
}

.summary {
    /*background-color: #549DA0;*/
    /*background-color: #89B0AE;*/
    background-color: #607B7D;
    color: aliceblue;
    padding: 13rem;
}

#eduExp {
    background-color: #D9D9D9;
    /*background-color: #FAF9F9;*/
    padding: 7rem;
}

#skills {
    /*background-color: #3B7091;*/
    background-color: #555B6E;
    color: aliceblue;
    padding: 1rem;
}

#contact {
    text-align: center;
    padding: 4rem;
}

.carousel-item {
    padding: 5rem 13rem;
}