.center {
    text-align: center;
    padding: 1rem;
}

canvas {
    border: 1px solid black;
}

.navigator {
    background-color: #353535;
    
}

.summary {
    background-color: #607B7D;
    color: aliceblue;
    padding: 13rem;
}

#eduExp {
    background-color: #D9D9D9;
    padding: 7rem;
}

#skills {
    background-color: #555B6E;
    color: aliceblue;
    padding: 1rem;
}

#contact {
    text-align: center;
    padding: 4rem;
}

.carousel-item {
    padding: 5rem 13rem;
}

#machine {
    margin: auto;
    border: 2px solid;
    padding: 2rem;
    display: inline-block;
}

.videos {
    column-count: 2;
    text-align: center;
}

.video {
    text-align: center;
}